# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/

# VS Code settings
.vscode/

# macOS & Windows system files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variable files
*.env

# Output files
*.out
*.bak

# Build artifacts
build/
dist/
*.egg-info/

