langchain-community
faiss-cpu
langchain_google_genai
pypdf
langchain 
langchain-pinecone
weaviate-client
langchain-weaviate
wikipedia
youtube-search
langgraph
chromadb
langchain-chroma
langchain-groq
yfinance
duckduckgo-search
langchain-openai

